{% extends 'base.html' %}

{% block container %}
    <form role="form" action="/" method="get">
        <div class="input-group">
            <input type="url" class="form-control" id="url" name="url" placeholder="Enter URL" required />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Shorten!</button>
            </span>
        </div>
    </form>
    {% if short_url %}
    <br />
    <div class="well">
        <h4>
            <a href="http://{{ short_url }}" target="_blank">{{ short_url }}</a>
            <a href="http://{{ short_url }}+">(stats)</a>
        </h4>
        <small><a href="{{ url }}" target="_blank">{{ url }}</a></small>
    </div>
    <p></p>
    {% endif %}
{% endblock %}
